<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" , content="text/html; charset=UTF-8" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <!-- <link href="../../static/css/login.css" rel="stylesheet" /> -->
    <title>Error Page</title>
  </head>
  <header>
    <span class="title y-middle x-start">Login Page</span>
    <div id="buttons" class="x-end y-middle">
      <form action="/users/registration-page" method="get">
        <button type="submit" class="normal-buttons">회원 가입</button>
      </form>
    </div>
  </header>
  <body>
    <form id="loginform" class="xy-middle" action="/users/login" method="post">
      <table id="logintable">
        <tr>
          <td>
            <label for="email">이메일</label>
          </td>
          <td>
            <input type="email" name="email" id="email" required />
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">비밀번호</label>
          </td>
          <td>
            <input type="password" name="password" id="password" required />
          </td>
        </tr>
      </table>
      <br />
      <button type="submit" class="normal-buttons y-end x-middle">
        로그인
      </button>
    </form>
    <script th:inline="javascript">
      document
        .getElementById('loginform')
        .addEventListener('submit', function (event) {
          event.preventDefault();

          var email = document.getElementById('email').value;
          var password = document.getElementById('password').value;

          fetch('/api/auth/login', {
            method: 'post',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ email: email, password: password }),
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.token) {
                loadMainPage(data.token);
              } else if (data.message) {
                alert(data.message);
              }
            })
            .catch((error) => console.error('Error:', error));
        });

      function loadMainPage(token) {
        fetch('/users/main', {
          method: 'get',
          headers: {
            Authorization: `Bearer ${token}`,
          },
        })
          .then((response) => response.text())
          .then((html) => {
            document.open();
            document.write(html);
            document.close();
          })
          .catch((error) => console.error('Error:', error));
      }
    </script>
  </body>
</html>
