<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" , content="text/html; charset=UTF-8" />
    <link th:href="@{/css/login.css}" rel="stylesheet" />
    <!-- <link href="../../static/css/login.css" rel="stylesheet" /> -->
    <title>Registration Page</title>
  </head>
  <header>
    <span class="title y-middle x-start">Registration Page</span>
    <div id="buttons" class="x-end y-middle">
      <form action="/users/login" method="get">
        <button type="submit" class="normal-buttons">뒤로 가기</button>
      </form>
    </div>
  </header>
  <body>
    <form id="loginform" class="xy-middle">
      <table id="logintable">
        <tr>
          <td>
            <label for="email">이메일</label>
          </td>
          <td>
            <input type="email" name="email" id="email" required />
          </td>
        </tr>
        <tr>
          <td>
            <label for="password">비밀번호</label>
          </td>
          <td>
            <input type="password" name="password" id="password" required />
          </td>
        </tr>
      </table>
      <br />
      <button type="submit" class="normal-buttons y-end x-middle">
        회원 가입
      </button>
    </form>
  </body>
  <script th:inline="javascript">
    document
      .getElementById('loginform')
      .addEventListener('submit', async function (event) {
        event.preventDefault();

        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;

        fetch('/api/auth/registration', {
          method: 'post',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ email: email, password: password }),
        })
          .then((response) => {
            if (response.status == 204) {
              return null;
            }
            return response.json();
          })
          .then((data) => {
            if (data.errorMsg) {
              alert(data.errorMsg);
            }
          })
          .catch((error) => {
            alert('회원가입을 완료했습니다.');
            loadMainPage();
          });
      });

    function loadMainPage() {
      fetch('/users/login', {
        method: 'get',
      })
        .then((response) => response.text())
        .then((html) => {
          document.open();
          document.write(html);
          document.close();
        })
        .catch((error) => console.error('Error:', error));
    }
  </script>
</html>
